# Create 3 `.env` files, `.env.development`, `.env.production`, and `.env.test` in project root
# Three of them have same env example variable

# production || development || test
NODE_ENV="production"

# API PORT
# Default = 3000
PORT=3000


# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=

# For use in docker compose
POSTGRES_USER="postgres"
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# Use different PORT for each databases
POSTGRES_PORT=5432


# Search engine
MEILI_MASTER_KEY="supersecretmeilimasterkey"

# development || production || test
MEILI_ENV="development"
MEILI_HOST="http://localhost"

# Use different PORT for each search engines
MEILI_PORT=7700


# ADMIN USER

ADMIN_PASSWORD="adminusersecretpassword"
PASSWORD_PEPPER="randomstringforpepper"

# min = 10
PASSWORD_SALT_ROUNDS=10

# JWT
JWT_SECRET="supersecretjwtforauthtoken"

# DOTENV
# true || false, default true
DOTENV_CONFIG_QUIET=true