# Create 3 `.env` files, `.env.development`, `.env.production`, and `.env.test` in project root
# Three of them have same env example variable

# production || development || test
NODE_ENV="production"

# optional, default = 3000
PORT=3000

# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=

# ADMIN USER

ADMIN_PASSWORD="adminusersecretpassword"
PASSWORD_PEPPER="randomstringforpepper"

# min = 10
PASSWORD_SALT_ROUNDS=10

# JWT
JWT_SECRET="supersecretjwtforauthtoken"

# DOTENV
# true || false, default true
DOTENV_CONFIG_QUIET=true